<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Welcome to the Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <form action="/guess" method="POST">
            <input type="text" name="guess">
            <input type="submit" value="Guess">
        </form>
        {% if guess == 'too high' %}
            <h2>Too High</h2>
        {% elif guess == 'too low' %}
            <h2>Too Low</h2>
        {% elif guess == 'correct' %}
            <h2>Correct Number was {{num}}</h2>
            <a href="/reset">Play again</a>
        {% endif %}
    </body>
</html>