<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <p>Your Gold: {{ gold }}</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="farm" />
            <input type="submit" value="Find Gold!"/>
        </form>          
        <form action="/process_money" method="post">
            <input type="hidden" name="cave" />
            <input type="submit" value="Find Gold!"/>
        </form>
          <form action="/process_money" method="post">
            <input type="hidden" name="house" />
            <input type="submit" value="Find Gold!"/>
        </form>
          <form action="/process_money" method="post">
            <input type="hidden" name="casino" />
            <input type="submit" value="Find Gold!"/>
        </form>

        {% for act in activities %}
            <p>{{ act }}</p>
        {% endfor %}
        
        <a href="/reset">Reset</a>
    </body>
</html>