<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    {% if session['validate'] == 1 %}
    <h1>NOT VALID EMAIL!!!!!</h1>
    {% endif %}
    <form action="/success" method="POST">
        Email: <input type="text" name='email'>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>